{#
/**
 * @file
 * Default view template to display all the items in a view.
 *
 * Available variables:
 * - attributes: Remaining HTML attributes for the element.
 * - css_name: A CSS-safe version of the view name.
 * - css_class: The user-specified classes for the view.
 * - header: The optional header.
 * - footer: The optional footer.
 * - rows: The results of the view query, if any.
 * - empty: The content to display if there are no rows.
 * - pager: The pager next/prev links to display, if any.
 * - exposed: Exposed widget form/info to display.
 * - feed_icons: Feed icons to display, if any.
 * - more: A link to view more items, if any.
 * - title: Title of the view, if any.
 * - attachment_before: An optional attachment view to be displayed before the rows.
 * - attachment_after: An optional attachment view to be displayed after the rows.
 * - dom_id: Unique id for every view being printed to ensure distinct HTML IDs.
 *
 * @see template_preprocess_views_view()
 */
#}
<div{{ content_attributes.addClass("" ) }}>
  {{ title_prefix }}
  {% if view.title %}
    <h2 class="text-black text-normal leading-[36px] font-bold mb-15">{{ view.title }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% if header %}
    <div class="view-header">
      {{ header }}
    </div>
  {% endif %}

  {% if exposed %}
    <div>
      {{ exposed }}
    </div>
  {% endif %}

  {% if attachment_before %}
    <div class="attachment attachment-before">
      {{ attachment_before }}
    </div>
  {% endif %}

  {% if rows %}
    <div class="view-content grid desk:grid-rows-4 mob:grid-rows-2 gap-30 mb-50">
      {{ rows }}
    </div>
  {% elseif empty %}
  
  {% endif %}

  {% if pager %}
    {{ pager }}
  {% endif %}

  {% if attachment_after %}
    <div class="attachment attachment-after">
      {{ attachment_after }}
    </div>
  {% endif %}

  {% if more %}
    {{ more }}
  {% endif %}

  {% if footer %}
    <div class="view-footer">
      {{ footer }}
    </div>
  {% endif %}

  {% if feed_icons %}
    <div class="feed-icons">
      {{ feed_icons }}
    </div>
  {% endif %}
</div>
